* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    padding: 20px;

}
main {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
:root {
    --kok-rang: #28A4AC;
    --pushti-rang: #AC2868;
    --yashil-rang: #6E8F10;
}

header {
    height: 90px;
    width: 1490px;
    background-color: #AC4828;
    margin-bottom: 15px;
}
.color1 {
    width: 545px;
    height: 180px;
    background-color: var(--kok-rang);
}
.color2 {
    width: 370px;
    height: 180px;
    background-color:var(--kok-rang);
}
.color3 {
    width: 545px;
    height: 180px;
    background-color: var(--kok-rang);
}
.color4 {
    width: 545px;
    height: 180px;
    background-color: var(--pushti-rang);
}

.color5 {
    width: 370px;
    height: 180px;
    background-color: var(--pushti-rang);
}

.color6 {
    width: 545px;
    height: 180px;
    background-color: var(--pushti-rang);
}
.color7 {
 width: 930px;
 height: 200px;
 background-color: var(--yashil-rang);
}
.color8 {
    width: 545px;
    height: 200px;
    background-color: var(--yashil-rang);
}